.menu {
  width: 320px;
  margin-right: 60px;
  margin-top: 80px;
}

.main {
  display: flex;
  height: 100%;
  width: 1240px;
  overflow: hidden;
  margin: 40px auto 0;
}

.orders {
  width: 100%;
}
